body{
    margin:0;
    padding:0;
    
}    
.ptag{
    margin: 0;
    line-height: 1.5rem;
}
span{
    margin-left: 30px;
    font-weight: bold;
    color: #252525;
}
a{
    text-decoration: none;
}
h3{
    background-color: #f6f4ef;
}
.mail-content{
    /* background-color: #f6f4ef; */
    min-width:820px ;
    color: #252525;
    width: 100%;
    height: auto;
    margin-top: 100px;
 
}

.mail-top{
    margin: 0 auto;
    width: 80%;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    /* background-color: #f6f4ef; */
    border-bottom: white 2px solid;
}

.mail-logo{
    width: 100px;
    height: 100px;
    
}

.mail-logo > img{
    width: 100px;
    height: 100px;
    justify-content: center;
}
.mail-recipt{
    width: 100px;
    height: 100px;
    text-align: right;
    font-size: 2rem;
    vertical-align:center;
    
}
.recipt-title{
    position: absolute;
    bottom: 0;
    
}

.mail-info{
    margin: 0 auto;
    background-color: #f6f4ef;
    width: 80%;
    display: flex;
    border-bottom: white 2px solid;
}
.left-side{
    height: auto;
    min-height: 200px;
    width: 60%;
    background-color: #f6f4ef;
}
.mail-customer-info{
    /* padding-left: 30px; */
    height: 100%;
}

.info-item{
    min-height: 33%;
    height: auto;
}

.info-item:nth-child(2){
    border-top: white 2px solid;
    border-bottom: white 2px solid;
}



.right-side{
    width: 40%;
    border-left: white 2px solid;
}

.mail-detail{
    margin: 0 auto;
    /* background-color: #f6f4ef; */
    width: 80%;
    min-height: 200px;
}
.mail-customer-info ,.address-list, .product-list{
    list-style: none;
    margin: 0;
    padding: 0;
}

.mail-amount{
    width: 80%;
    height: 120px;
    margin: 0 auto;
    border-top: #f6f4ef 2px solid;
    border-bottom: #f6f4ef 2px solid;
}
.mail-footer{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.mail-product-list{
    width: 100%;
    min-height: 150px;
    height: auto;
}
.product{
    width: 90%;
    margin: 0 auto;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.product-list{
    width: 100%;    
}
.product-info{
    display: flex;
}
.product-info-area{
    margin-top: 20px;
    margin-left: 30px;
}
.product-pic{
    width: 100px;
    margin: 0;
}
.product-pic > img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}
.product-name{
    font-size: 1.5rem;
}
.product-review{
    display:initial;
}
.product-price{
    margin-top: 20px;
}

.mail-amount{
    width: 80%;
    margin: 0 auto;
    text-align: right;
}
