{% extends "base.html" %}
{% load static %}

{% block metadescription %}
    This is the shopping cart page.. Proced to review your items and place the order.
{% endblock %}

{% block title %}KUMAGAI KITCHEN | ご購入完了{% endblock %}
{% block content %}

  <main class="main-area-fadein">
      <div class="thx_page ">
        <div class="complete-moji">
          <a>お支払いが完了しました</a>
          <p>通常、2〜3営業日以内に発送いたします。</p>
          <p>商品の到着までしばらくお待ちくださいませ。</p>
          <div >
            <a href="{% url 'shop:allProdCat' %}" class="link-under-line"><span class="to_top_page_ad"> 商品一覧へ</span></a>
          </div>
        </div>
        
      </div>

  </main>
  {% include 'footer.html' %}
 {% endblock %}