{% extends 'base.html' %}
{% load static %}

{% block title %}{% endblock %}

{% block content%}
  <div class="content-area main-section-fadein">
      <div class="asct-area">
        <div class="top-asct">
          <a class="asct-title">特定商取引法に基づく表示</a>
        </div>
        <div class="asct-content">
          <ul class="asct-list">
            <li class="asct-item"><b>販売サービス名称</b><p>KUMAGAI KITCHEN</p></li>
            <li class="asct-item"><b>運営統括責任者</b><p>熊谷　康夫</p></li>
            <li class="asct-item"><b>運営会社</b><p>クマガイコーポレーション株式会社</p></li>
            <li class="asct-item"><b>運営会社の所在地</b><p>〒150-0041　<br />東京都渋谷区神南1-20-15 和田ビル5階</p></li>
            <li class="asct-item"><b>運営会社の電話番号</b><p>03-3461-2652</p></li>
            <li class="asct-item"><b>メールアドレス</b><p>kitchen@kumagaicorp.jp</p></li>
            <li class="asct-item"><b>販売URL</b><p></p></li>
            <li class="asct-item"><b>販売価格</b><p>各商品による</p></li>
            <li class="asct-item"><b>お支払い方法</b><p>クレジットカードまたはデビットカード</p></li>
            <li class="asct-item"><b>商品代金以外の必要金額</b><p>・消費税<br/>・送料：本州880円〜沖縄：2,160円</p></li>
            <li class="asct-item"><b>販売数量</b><p>1個から</p></li>
            <li class="asct-item"><b>商品引渡し時期</b><p>決済完了確認後3営業日以内で発送致します。</p></li>
            <li class="asct-item"><b>商品引渡し方法</b><p>ヤマト運輸 宅急便 クール便 冷凍便</p></li>
            <li class="asct-item"><b>返品・不良品について</b><p>「不良品・当社の商品の間違い」の場合は当社が負担いたします。<br /> 配送途中の破損などの事故がございましたら、弊社までご連絡下さい。<br /> 送料・手数料ともに弊社負担で早急に新品をご送付致します。<br /><br /> 【返品対象】<br />「不良品・当社の商品の間違い」の場合<br /><br /> 【返品時期】<br />ご購入後2日以内にご連絡があった場合に返金可能となります。<br /><br /> 【返品方法】<br />メールにて返金要請してください。<br />4日以内にご購入代金を指定の口座へお振込みいたします。</p></li>
            <li class="asct-item"><b>表現、及び商品に関する注意書き</b><p>本商品に示された表現や再現性には個人差があり、<br />必ずしも利益や効果を保証したものではございません。</p></li>
        <!--
            <li class="asct-item"><b></b><p></p></li>-->
          </ul>
        </div>
      </div>
    </div>
   {% include 'footer.html' %}
{% endblock content%}
