{% extends 'base.html' %}
{% load static %}
{% block title %}KUMAGAI KITCHEN | プライバシーポリシー{% endblock %}


{% block content%}

  <div class="content-area main-section-fadein">
      <div class="pp-area">
        <div class="top-pp">
          <a class="pp-title">プライバシーポリシー</a>
        </div>
        <div class="pp-content">
          <ul class="pp-list">
            <li class="pp-item"><b>【個人情報とは】</b>
                                <p>お名前・ご住所・電話番号・年齢・性別・メールアドレス・その他の履歴など、その個人を識別することができる情報のことを意味します。</p></li>
            <li class="pp-item"><b>【個人情報の取得】</b>
                                <p>弊社では、お客様の必要に応じたサービス及び情報の提供を行うためにお客様の個人情報をいただくことがあります。 <br />
                          その他上記以外の用途でお客様の個人情報を入力いただく場合には、その目的及び内容を明確にご案内し、同意をいただいたうえで行います。</p></li>
            <li class="pp-item"><b>【個人情報の利用目的】</b>
                                <p>お客様の個人情報は、次の目的のために利用させていただきます。<br/><br/>
                                      ・お客様からのご購入にかかわる業務を遂行するため。<br/>
                                      ・お客様からのお問合せがあった際、関連する内容を照会し、お答えするため。 <br />
                                      ・弊社が取り扱うサービスに関するご案内をするため。<br/>
                                      ・当サイトおよびクマガイコーポレーショングループのサービス向上の参考とするため。 <br />
                                      ・メール配信サービスを希望されたお客様にメールをお届けするため。</p></li>
            <li class="pp-item"><b>【個人情報の管理】</b>
                                <p>弊社では、個人情報を細心の注意を払って管理し、利用者本人の事前許可なしに第三者に開示することはありません。<br>ただし以下の各号に定める場合は、事前に許可なく情報を開示することがあります。<br /><br />
                                      ・弊社の業務を委託している外部企業に対して、事前に個人情報の取扱に関する機密保持契約を交わした上で、個人情報の管理業務を委託する場合。 <br />
                                      ・登録者が第三者に不利益を与えている場合、もしくは及ぼす可能性があると当社が判断した場合。 <br />
                                      ・警察、裁判所、検察庁、消費者センターなどの公的機関から、登録内容について開示を求められた場合。</p></li>
            <li class="pp-item"><b>【個人情報のお問い合わせについて】</b>
                                <p>お客様の個人情報に関するお問い合わせや、個人情報の開示・訂正・利用停止・削除等のご請求については、当社本部事務所までご連絡いただきますよう宜しくお願い申し上げます。<br /><br />
                                      ・ご連絡先 ０３−３４６１−２６５２<br/>
                                      ・受付時間帯 ９：３０〜１８：００（　土日祝祭日除く）</p></li>
            <li class="pp-item"><b>【個人情報の取扱いについて】</b>
                                <p>個人情報の取扱いについて、法制度の環境への対応や、内容の更なる向上のために更新することがあります。</p></li>
            <li class="pp-item"><b>【個人情報の保護に関する法律に基づく公表事項】</b>
                                <p>１．個人情報取扱事業者の名称<br>
                                名称：KUMAGAI KITCHEN<br>
                                代表：熊谷　康夫</p><br>
                                <p>２．個人データの利用目的<br>
                                受注管理、商品配送、入金管理、商品・サービス等のご案内</p></p></li>
            <li class="pp-item"><b>【問い合わせ】</b><p>メールでの問い合わせはこちらからどうぞ。</p></li>
           
        <!--
            <li class="asct-item"><b></b><p></p></li>-->
          </ul>
        </div>
      </div>
    </div>
    {% include 'footer.html' %}
{% endblock content%}
